

<head>
<style>

.wrapper{
    width:100%;
}

.wrapper .container{
    max-width:1000px;
    margin:0px auto;
    padding:80px 0px;
}

.wrapper .content {
    padding:50px;
    text-align:center;
}

.wrapper .content .heading{
    margin:0px 0px 40px 0px;
    font-size: 24px;
    font-weight: normal;
    text-align: center;
}


li {
margin-bottom: 35px;
}

.hello {
margin-bottom: 35px;
}

</style>
</head>

<% if user_signed_in? %>
<div class="hello"><%= "#{@user.username}さんこんにちは"  %></div>

<header>
    <nav id="gnav">
        <ul class="inner">
            <li><%= link_to '仕事を探す', posts_path %></li>

            <li><%= link_to '仕事を依頼する', new_post_path %></li>
            
            <li><a href="users/<%= @user.id %>">マイページ</a></li>
        </ul>
    </nav>
</header>

<% else %>
<section class="wrapper">
    <div class="container">
        <div class="content">
            <h2 class="heading">share your kindness</h2>
            <p>自由に働こう<br>自由に暮らそう</p>            
        </div>
    </div>
</section>
<% end %>